.result-framework .tree {
    overflow-x: auto;
    display: inline-block;
    width: 100%;
}

.result-framework .tree ul {
    padding-top: 20px;
    min-width: max-content; 
    position: relative;  
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.result-framework .tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.result-framework .tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 4px solid #eb420f;
    width: 50%; height: 20px;
}
.result-framework .tree li::after{
    right: auto; left: 50%;
    border-left: 4px solid #eb420f;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.result-framework .tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.result-framework .tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.result-framework .tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.result-framework .tree li:last-child::before{
    border-right: 4px solid #eb420f;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.result-framework .tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.result-framework .tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 4px solid #eb420f;
    width: 0; height: 20px;
}